<!DOCTYPE html>
<html>
<head>
  <title>HolidayReminder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name='txtweb-appkey' content="<%= ENV['TXTWEB_APP_KEY']%>" />
</head>
<body>

<%= yield %>

</body>
</html>
